.btn-login{
    padding: 1rem;
    font-size: 2rem;
}

.btn-success{
    background-color: var(--verde);
    border: none;
}

@media (min-width: 768px) {
    .btn-login{
        padding: 1rem 4rem;
    }
}